@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Fondo en los apartados del menu*/
.html-memorama{
    background-image: url(../img/Network.gif);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    object-fit: cover;
}
.html-snake{
    background-image: url(../img/reptile.png);
    background-color: #9fa81b;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    object-fit: cover;
}

/*==================================================*/
/*=========Imagenes de la pagina en general=========*/
/*==================================================*/
.img-config{
    width: 50px;
    height: 50px;
}

.img-volumen{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}
/*==================================================*/

/*==================================================*/
/*=================Pie de la pagina=================*/
/*==================================================*/
.footer-pie{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
}
.footer-pie label:nth-child(1){
    cursor: pointer;
    margin-left: 2%;
}
.footer-pie label:nth-child(2){
    margin-left: 4%;
    cursor: pointer;
    color: #888;
    font-size: 48px;
}
.footer-pie label:nth-child(3){
    margin-left: 78%;
    cursor: pointer;
    color: #888;
    font-size: 48px;
    transform: rotate(0deg);
    transition: transform 1s;
}
.giro{
    transform: rotate(225deg);
}
/*==================================================*/

/*==================================================*/
/*===========Menu de Opciones del Memorama==========*/
/*==================================================*/
.div-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40vh;
    width: 400px;
    height: 90px;
    padding: 30px;
    margin: auto;
}
.div-menu h2{
    display: flex;
}
.div-menu h2 span:nth-child(1){
    transform: rotateY(-37.5deg) translateY(-15px);
    font-size: 75px;
}
.div-menu h2 span:nth-child(2){
    transform: rotateY(-25deg) translateY(-10px);
    font-size: 80px;
}
.div-menu h2 span:nth-child(3){
    transform: rotateY(-12.5deg) translateY(-5px);
    font-size: 85px;
}
.div-menu h2 span:nth-child(4){
    transform: rotateY(0deg);
    font-size: 90px;
}
.div-menu h2 span:nth-child(5){
    transform: rotateY(0deg);
    font-size: 90px;
}
.div-menu h2 span:nth-child(6){
    transform: rotateY(12.5deg) translateY(-5px);
    font-size: 85px;
}
.div-menu h2 span:nth-child(7){
    transform: rotateY(25deg) translateY(-10px);
    font-size: 80px;
}
.div-menu h2 span:nth-child(8){
    transform: rotateY(37.5deg) translateY(-15px);
    font-size: 75px;
}
.div-menu p{
    font-size: 35px;
    color: darkgray;
    margin-bottom: 10px;
}

span:nth-child(4n) { 
    color:hsl(50, 75%, 55%); 
    text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); 
}
span:nth-child(4n-1) { 
    color:hsl(135, 35%, 55%); 
    text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { 
    color:hsl(155, 35%, 60%); 
    text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { 
    color:hsl(30, 65%, 60%); 
    text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

.div-menu a{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 45px;
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    border: 6px solid #744912;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.div-menu a:active{
    box-shadow: inset -8px -8px 20px rgba(255,255,255,0.4), inset -5px -5px 6px rgba(255,255,255,0.4),
    inset 8px 8px 20px rgba(255,255,255,0.4), inset 5px 5px 6px rgba(255,255,255,0.4);
}
.div-menu a:hover{
    background-color: rgba(0,0,0,0.4);
}
/*==================================================*/

/*==================================================*/
/*==================================================*/
/*==================================================*/
.div-snake{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40vh;
    width: 400px;
    height: 90px;
    padding: 30px;
    margin: auto;
}
.div-snake h2{
    display: flex;
}
.div-snake h2 span:nth-child(1){
    transform: rotateY(-25deg) translateY(-15px);
    font-size: 80px;
}
.div-snake h2 span:nth-child(2){
    transform: rotateY(-12.5deg) translateY(-5px);
    font-size: 85px;
}
.div-snake h2 span:nth-child(3){
    transform: rotateY(0deg);
    font-size: 90px;
}
.div-snake h2 span:nth-child(4){
    transform: rotateY(12.5deg) translateY(-5px);
    font-size: 85px;
}
.div-snake h2 span:nth-child(5){
    transform: rotateY(25deg) translateY(-15px);
    font-size: 80px;
}
.div-snake a{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 45px;
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    border: 6px solid #744912;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.div-snake a:active{
    box-shadow: inset -8px -8px 20px rgba(255,255,255,0.4), inset -5px -5px 6px rgba(255,255,255,0.4),
    inset 8px 8px 20px rgba(255,255,255,0.4), inset 5px 5px 6px rgba(255,255,255,0.4);
}
.div-snake a:hover{
    background-color: rgba(0,0,0,0.4);
}
/*==================================================*/

/*=====================================================*/
/*==================Snake o Culebrita==================*/
/*=====================================================*/
.adaptar-pantalla{
    height: 100%;
   width: 100%;
}
.culebrita{
    background-color: #acb620;
}
#canvas{
   display: block;
}
/*=====================================================*/